.header {
	color: white;
	background-color: #c8262b;
	text-align: center;
	font-family: Impact, sans-serif;
	font-size: 70px;
	padding: 20px 0 20px 0;
}

.caption{font-size: 30px;
	margin-top: 15px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px; }

h2 {
	font-size: 18px;
	margin-top: 15px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
}	
h2 {
	text-align: left;
	border: solid gray;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 98.4%;
}
h3{ margin: 20px 0 20px 0;
	text-align: center;
	font-size:18px;
	font-family: Helvetica;	
	font-weight: bolder;
	background-color;
}

.dailybreif1{font-size: 17px;
	font-weight: bolder;}

.ad{ margin-left: 65px;
	position: absolute;
	margin-top: 40px;}

.campus:hover,.sports:hover,.Region:hover,.Arts:hover,.Opinion:hover,.Weekend:hover,.Multimedia:hover,.Specials:hover,.Directories:hover,.Classifieds:hover{
	background-color: #c8262b;
}
.articleimage{
	padding-left: 450px
}
.article{
	width: 500px;
	text-align:justify;
	padding-left: 430px
}
.articlehead{
	width:450px;
	font-size: 45px;
	padding-left: 430px;
	font-family: helvetica;
	font-weight: bolder;
}

.dailybreif {
	padding-left: 20px;
	padding-bottom: 30px;
	background-color: #c8262b;
	border:solid gray;
}
.dailybreifing{
	font-weight: bolder;
	font-size: 30px;
}

h4{
	font-weight: bolder;
	font-size: 20px;
}
h5{
	font-size: 25px;
}
p {
	font-size: 15px;
}
.photo {
	text-align: center;
	border: solid gray;
	margin-top: 40px;
	margin-left: 300px;
}
.photo2 {
	
	border: solid black;
	margin-top: 10px;
}
.bottom {
	padding: 100px;
	background-color: gray;
}
.kicker {
	font-weight: bolder;
	margin-left: 10px;
	margin-top: 40px;
	}

.total {
	margin-top: 200px;
	position: absolute;
}

@media (max-width: 600px) {
	.show-desktop {
		display: none;
	}

	.show-mobile {
		display: block;
	}
.adbox {
		font-size: 15px;
		padding-bottom: 100px;
		float:left}
.photo {
	text-align: center;
	border: solid black;
	margin-top: 10px;
}
.photo2 {
	padding: 10px;
	border: solid black;
	margin-top: 10px;
}

h1 {
		font-size: 15px;
	}
h2 {
		font-size: 15px;
	}
h3 {
		font-size: 15px;
	}
h4 {
		font-size: 15px;
	}
h5 {
		font-size: 15px;
	}

p {
		font-size: 10px;
	}